@import '../styles/variables.scss';

.c-rr-header-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.c-rr-header--mobile {
  .c-rr-header-nav {
    display: flex;
    justify-content: center;

    &__item-link {
      font-size: 0.9rem;
      padding: 0.4rem;
    }
  }
}
