@import '../styles/variables.scss';

.c-rr-settings-menu {
  &__pane {
    left: -500px;
    transition: left 250ms ease;

    &--open {
      left: 0;
      border-right: 2px solid black;
    }
  }

  &__close-button {
    margin-top: 1rem;
    padding-left: 1rem;

    .c-rr-icon-button__icon {
      width: 25px;
    }
  }
}
